<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<title>Headlines to Headlines</title>
	<link rel="stylesheet" href="../../../public/stylesheets/style.css" type="text/css" media="screen"/>
</head>

<body>
<div id="title_bar">
	<ul>
		<li id="title">Headlines to Headlines</li> 
		<li>Help</li>
		<li>Stats</li>
		<li>Log Out</li>
	</ul>
	<div style="clear: both;"></div>
</div><!--sfdsf-->



<div id="wrap">	
	<div id="players" class="narrowcolumn">	
	<div class="float_left">
			<img src="" width="45" height="45" alt=""/ align="left"/>
			<p>Player Name</p>
			<p>10 Points</p>
	</div>		
		

	<div class="float_left">
		<img src="" width="45" height="45" alt=""/ align="left"/>
			<p>Player Name</p>
			<p>10 Points</p>
	</div>
		
	
	<div class="float_left">
			<img src="" width="45" height="45" alt=""/ align="left"/>
			<p>Player Name</p>
			<p>10 Points</p>
	</div>
		
	
	<div class="float_left">
			<img src="" width="45" height="45" alt=""/ align="left"/>
			<p>Player Name</p>
			<p>10 Points</p>
	</div>	
		
	<div class="float_left">
			<img src="" width="45" height="45" alt=""/ align="left"/>
			<p>Player Name</p>
			<p>10 Points</p>
	</div>	

	<div class="float_left">
			<img src="" width="45" height="45" alt=""/ align="left"/>
			<p>Player Name</p>
			<p>10 Points</p>
	</div>

	<div id="topic">Topic Adjective</div>
</div>

	<div id="play_space">
		<div class="card">
		<div class="headline">
			<a href=""></a>
		</div>
		<div class="commentContent"> 
		</div>	
		
</div>
	</div>


	<div id="headlineOptions">
		<hr />
		<form>	
		<div id="submit"><input type="submit" /></div>
		<div id="headlines">
			<ul>
				<li><input type="radio" name="headline" value="one" />Headline 1</li>
				<li><input type="radio" name="headline" value="two" />Headline 2</li>
				<li><input type="radio" name="headline" value="three" />Headline 3</li>
				<li><input type="radio" name="headline" value="four" />Headline 4</li>
				<li><input type="radio" name="headline" value="five" />Headline 5</li>
			</ul>	
		</div>
		</form>
	</div>
	</div>

</body>
</html>

	

