<div id="users">
  <% form_for @round do |f| %>
    <% User.all.each do |u| %>
      <%= check_box 'round[user]', u.uid %>
      <%= f.label u.name %>
    <% end %>
    <%= f.submit %>
  <% end %>
</div>
