<h1>Choose your play mates</h1>
<div id="users">
  <% form_for @round do |f| %>
    <% User.where(:logged_in => true).each do |u| %>
      <div>
        <%= check_box 'user', u.id %>
        <%= u.name %>
      </div>
    <% end %>
    <%= f.submit %>
  <% end %>
</div>
